body {
background-color:pink;
}

.topnav {
  overflow: hidden;
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  
}


.topnav a:hover {
  background-color: grey;
  color: blue;
}

.hover-image{
	transition:transform 0.3s ease;
}
.hover-image:hover {
	transform:scale(0.8);
	
}